/*
 * This is the default configuration file used by ChromSeqPro
 */

params.BASE=		"${PWD}"

params.IN_DIR=		"${params.BASE}/input"
params.INPUT=		"${params.IN_DIR}/*R{1,2}*"
params.OUT_DIR=		"${params.BASE}/output"
params.REG_DIR=		"${params.OUT_DIR}/00_REGISTRATION"
params.QC_DIR=		"${params.OUT_DIR}/01_FASTQC"
params.TRIM_DIR=	"${params.OUT_DIR}/02_CUTADAPT"
params.INDEX_DIR=	"${params.OUT_DIR}/03_INDEX"
params.ALN_DIR=		"${params.OUT_DIR}/04_MEM"

params.METADATA_DIR=	"${params.BASE}/ChromCall/metadata" 
params.BLACKLIST=	"${params.METADATA_DIR}/blacklist/ENCFF356LFX.bed" 
params.GENOME=		"${params.METADATA_DIR}/genome/GRCh38-genome.txt" 

params.INPUT_DIR=	"${params.BASE}/ChromCall/input" 
params.PROMOTERS=	"${params.INPUT_DIR}/promoters/promoters-1k.bed" 
params.EXPRESSION=	"${params.INPUT_DIR}/expression/promoter-expression.txt" 

params.BAM_DIR=		"/nobackup/bs21zh/ZH_prelim/bash/filtered" 
params.WINDOW_DIR=	"${params.BASE}/ChromCall/windows" 

params.RES_DIR=		"${params.BASE}/output/07_CHROMCALL"

params.WINDOWSIZE=	2000

// Optional parameters

// CUTADAPT

params.minimumLength=	20
params.overlap=		3
params.qscore=		20

//MEM
params.reference= "${params.INDEX_DIR}/GRCh38.p13.genome.fa"
params.bwt="${params.INDEX_DIR}/GRCh38.p13.genome.fa.gz.bwt"
params.sa="${params.INDEX_DIR}/GRCh38.p13.genome.fa.gz.sa"
params.ann="${params.INDEX_DIR}/GRCh38.p13.genome.fa.gz.ann"
params.amb="${params.INDEX_DIR}/GRCh38.p13.genome.fa.gz.amb"
params.pac="${params.INDEX_DIR}/GRCh38.p13.genome.fa.gz.pac"

// SAMTOOLS
params.mapq_thresh= 30

// containers
process {
    withName:FASTQC	{
        container = 'zarnazhadi/fastqc-uc'
    }
    withName:CUTADAPT	{
        container = 'zarnazhadi/cutadapt-uc'
    }
    withName:BWA_INDEX	{
        container = 'zarnazhadi/bwa-uc'
    }
    withName:BWA_MEM	{
        container = 'zarnazhadi/bwa-uc'
//	conda= 'bioconda::bwa'
    }
    withName:SORT	{
	container = 'zarnazhadi/samtools-uc'
    }
    withName:SAM_INDEX	{
        container = 'zarnazhadi/samtools-uc'
    }
    withName:VIEW	{
        container = 'zarnazhadi/samtools-uc'
    }
    withName:IDXSTAT	{
        container = 'zarnazhadi/samtools-uc'
    }
    withName:FLAGSTAT	{
	container = 'zarnazhadi/samtools-uc'
    }
    withName:PICARD 	{
        container = 'zarnazhadi/picard-uc'
    }
    withName:MACS2	{
	container = 'zarnazhadi/macs2-uc'
    }
    withLabel: 'small_job' {
	executor = 'local'
    }
}

env {

	SINGULARITY_BINDPATH="/nobackup:/nobackup"
}

profiles {
   
    docker 	{	
    	docker.enabled		= true
    	singularity.enabled	= false
    	singularity.autoMounts	= false
	conda.enabled		= true
    }

    singularity {
        docker.enabled          = false
        singularity.enabled     = true
        singularity.autoMounts  = true
	singularity.cacheDir	= '/nobackup/bs21zh/singularity'
	singularity.runOptions 	= '--containall --no-home'
	conda.enabled		= true
    }

    hpc_sge	{
    	proces.executor		= 'SGE'
	process.queue		= '24core-128G.q'
	proces.memory		= '16G'
	process.cpus		= '8'
	process.time		= '48h'
    }
}
